[Unit]
Description=lsyncd
Documentation=http://code.google.com/p/lsyncd/

[Service]
ExecStart=/usr/bin/lsyncd -pidfile /var/run/lsyncd.pid /etc/lsyncd/lsyncd.conf -logfile /var/log/lsyncd.log
PIDFile=/var/run/lsyncd.pid
SuccessExitStatus=143

[Install]
WantedBy=default.target
