[Desktop Entry]
Name=Firefox
Type=Application
Comment=Mozilla Firefox
Exec=firefox
TryExec=firefox
Icon=/opt/firefox/browser/icons/mozicon128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/mailto;x-scheme-handler/webcal;
StartupWMClass=firefox
